<div class="layout-footer"></div>
</div>
<!-- end page-wrap -->

    <footer class="footer">
        <div class="container">   

            <div class="footer-content">  

                <div class="about-block">
                    <h2>About</h2>
                    <p>I currently work as a front end developer for <a href="http://infinity.io" class="link-line"><span>Infinity</span></a>, a digital agency in Auckland, New Zealand. Spacebar is my personal outlet into the world. </p>
                </div>

                 <div class="about-block">
                    <h2>Contact</h2>
                    <p>Feel free to get in touch with me via one of the following social mediums. Alternatively, send me 
                    <a href="mailto:jishaal@spacebar.co.nz?subject=Say hi from Spacebar" class="link-line"><span>an email.</span></a></p>
                </div>

                <div class="social-block">
                    <ul class="social">
                      <!--   <li data-scroll-reveal="enter top ease-in-out 50px, after 0.3s "><a class="icon-twitter" href="http://twitter.com/jishaal"></a></li>
                        <li data-scroll-reveal="enter top ease-in-out 50px, after 0.6s"><a class="icon-facebook" href="http://facebook.com/jishaal"></a></li>
                        <li data-scroll-reveal="enter top ease-in-out 50px, after 0.9s"><a class="icon-linkedin" href="http://nz.linkedin.com/pub/jishaal-kalyan/38/925/889"></a></li>
                        <li data-scroll-reveal="enter top ease-in-out 50px, after 1.2s"><a class="icon-lastfm" href="http://www.last.fm/user/j-dawg-bo"></a></li> -->
                        <li><a class="icon-twitter" href="http://twitter.com/jishaal"></a></li>
                        <li><a class="icon-facebook" href="http://facebook.com/jishaal"></a></li>
                        <li><a class="icon-linkedin" href="http://nz.linkedin.com/pub/jishaal-kalyan/38/925/889"></a></li>
                        <li><a class="icon-lastfm" href="http://www.last.fm/user/j-dawg-bo"></a></li>
                    </ul> 
                </div>
            </div>  
        </div>  
        
    </footer>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script type="text/javascript" src="/js/twitterFetcher_v10_min.js"></script>
    <script type="text/javascript" src="/js/thirdparty/scrollReveal.js"></script>

    <script src="/js/plugins.js"></script>
    <script src="/js/main.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
          function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    
    </body>

</html>


