<!DOCTYPE html>
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	  	<meta charset="utf-8">
	  	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	  	<title>{{ site.name }} | {{page.title}}</title>
	  	<meta name="description" content="{{ site.description }}">
	  	<meta name="viewport" content="width=device-width, initial-scale=1">

	  	<link rel="shortcut icon" href="images/touch-icons/favicon.ico" type="image/x-icon" />
	    <!-- // Apple Touch Icons -->
		<link rel="apple-touch-icon" href="images/touch-icons/apple-touch-icon.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="images/touch-icons/apple-touch-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="images/touch-icons/apple-touch-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="images/touch-icons/apple-touch-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="images/touch-icons/apple-touch-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="57x57" href="images/touch-icons/apple-touch-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="images/touch-icons/apple-touch-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="images/touch-icons/apple-touch-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="images/touch-icons/apple-touch-icon-152x152.png" />
	    <!-- // Windows 8 Tile Icons -->
	    <meta name="msapplication-square70x70logo" content="images/touch-icons/smalltile.png" />
	    <meta name="msapplication-square150x150logo" content="images/touch-icons/mediumtile.png" />
	    <meta name="msapplication-wide310x150logo" content="images/touch-icons/widetile.png" />
	    <meta name="msapplication-square310x310logo" content="images/touch-icons/largetile.png" />


	  	<link rel="stylesheet" href="/css/style.css">
		<script src="/js/thirdparty/modernizr.custom.js"></script>
	</head>
	<body>

	  	{% include nav.html %}
	  	<div class="page-wrap" role="main">

	  