<nav>
	<div class="container">

		<div class="brand-wrapper">	
			<a class="brand" href="/"> <div class="blink"></div></a>
			<a class="menu-icon">
				<em>.</em>
				<em>.</em>
				<em>.</em>
			</a>
		</div>

		<div class="nav-main">
			<ul>
				{% if page.active == "home" %}
				<li class="active"><a href="/"><span>Home</span></a></li>
				{% else %}
            	<li><a href="/"><span>Home</span></a></li>
       			{% endif %}	
       			{% if page.active == "blog" %}
       			<li class="active"><a href="/"><span>Blog</span></a></li>
				{% else %}
            	<li><a href="/blog"><span>Blog</span></a></li>
       			{% endif %}	
				<li><a href="/"><span>CV</span></a></li>
			</ul>
		</div> 
	</div>
</nav>
