// ---------------------------------------------------------------------------
// COLORS

$bg 			: #FCF2EF;
$bg-alt			: #FFE8E0;

$primary        : #E75930; //alt? #E14938

$secondary		: #1A2D35;
$secondary-alt	: #28324E;
$secondary-alt-2: #475577;

$white          : #FFFFFF;

$text-dark		: #FF5926;
$text-light		: #FFB6A0;

$post-title		: #606A83;


// ---------------------------------------------------------------------------
// Layout

// Golden ratio, which makes just about anything look lovely
$golden: 1.618;


$title-border: 10px solid $primary;
$title-border-alt: 10px solid $secondary;

$anim-slidedown: cubic-bezier(.694,.0482,.335,1);