---
active: blog
---


{% include header.html %}

<header class="post-header">
	<h1 class="post-title container"> {{ page.title }}</h1>
</header>
<div class="container standard-page post-single">
  	{% include post-meta.html caller=page %}
	<div class="post-wrap">

		<article class="post-item">

		    <section class="post-content">{{ content }}</section>
		    
		</article>

		 {% if page.next %} 
		<a href="{{page.next.url}}" class="button newer"><i class="icon icon-angle-left"></i> <span>Newer: </span>{{page.next.title}}</a>
		{% endif %}
		 {% if page.previous %} 
		<a href="{{page.previous.url}}" class="button older"><span>Older: </span>{{page.previous.title}} <i class="icon icon-angle-right"></i></a>
		{% endif %}

	</div>

</div>

{% include footer.html %}